<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="user-scalable=no, initial-scale=1, height=device-height"
		/>
		<link rel="icon" type="image/png" href="{% static
		"./img/favicon-32x32.png"%}" sizes="32x32" /> <link rel="icon"
		type="image/png" href="{% static "img/favicon-16x16.png"%}"
		sizes="16x16" />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="./css/error.css" />
		<title>404</title>
	</head>

	<body>
		<div class="container">
			<h1>404</h1>
			<p>Página não encontrada</p>
			<a href="/">Voltar</a>
		</div>
	</body>
</html>
