{%load static%}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pedido</title>
		<script>
			console.log(request.user.username)
			const handleSubmit = () => {
				const product = document.getElementById("produto").value;

				document.getElementById("id_produto").value = product;
				document.getElementById(
					"id_cartaoCidadao"
				).value = localStorage.getItem("cartaoCidadao");
				document.getElementById("hidden_form").submit();
			};
		</script>
	</head>
	<body>
		<form id="final_form">
			<select name="produto" id="produto">
			{% for product in products %}
				<option value="{{product.tipoProduto}}">{{product.tipoProduto}}</option>
			{% endfor %}
			</select>
			<select name="quantidade" id="quantidade">
			{% for quantidade in product.tamanhosPossiveisAdulto %}
				<option value="{{quantidade}}">{{quantidade}}</option>
			{% endfor %}
			</select>
		</form>

		<p></p>
		<button onclick="handleSubmit()">
			Criar
		</button>
		<p></p>
		<button onclick="">novo Produto</button>
		<form id="hidden_form" hidden action="/Pedido/" method="post">
			{% csrf_token %} {{ form }}
			<input type="submit" value="Submit" />
		</form>
	</body>
</html>
