<script>
	const handleSubmit = () => {
		const product = document.getElementById("produto").value;
		const quantidade = document.getElementById("quantidade").value;

		document.getElementById("id_produto").value = product;
		document.getElementById(
			"id_cartaoCidadao"
		).value = localStorage.getItem("cartaoCidadao");
		document.getElementById("hidden_form").submit();
	};
</script>
<form id="final_form">
	<select name="produto" id="produto">
		{% for product in products %}
		<option value="{{product.tipoProduto}}">{{product.tipoProduto}}</option>
		{% endfor %}
	</select>
	<select name="quantidade" id="quantidade">
		<!--
		{% for quantidade in quantidades %}
		<option value="{{quantidade"
		{% endfor %}
		-->
	</select>
</form>

<button onclick="handleSubmit()">
	Criar
</button>
<form id="hidden_form" hidden action="/Pedido/" method="post">
	{% csrf_token %} {{ form }}
	<input type="submit" value="Submit" />
</form>
