{%load static%}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Beneficiario</title>
		<script>
			const handleNext = () => {
				const nomeTecnico = document.getElementById("id_nomeTecnico");
				const nomeBeneficiario = document.getElementById(
					"id_nomeBeneficiario"
				);
				const cartaoCidadao = document.getElementById(
					"id_cartaoCidadao"
				);
				const telefone = document.getElementById("id_telefone");

				localStorage.setItem("nomeTecnico", nomeTecnico.value);
				localStorage.setItem(
					"nomeBeneficiario",
					nomeBeneficiario.value
				);
				localStorage.setItem("cartaoCidadao", cartaoCidadao.value);
				localStorage.setItem("telefone", telefone.value);

				window.location.replace("/Pedido");
			};
		</script>
	</head>
	<body>
		<div class="content-section">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">New</legend>
					<input
						type="text"
						class="form-control"
						placeholder="Nome do Tecnico"
						name="nomeTecnico"
						required=""
						id="id_nomeTecnico"
					/>
					<br />
					<input
						type="text"
						class="form-control"
						placeholder="Nome Beneficiario"
						name="nomeBeneficiario"
						required=""
						id="id_nomeBeneficiario"
					/>
					<br />
					<input
						type="text"
						class="form-control"
						placeholder="Nº Cartao de Cidadao"
						name="cartaoCidadao"
						required=""
						id="id_cartaoCidadao"
					/>
					<br />
					<input
						type="text"
						class="form-control"
						placeholder="Contacto Telefone"
						name="telefone"
						required=""
						id="id_telefone"
					/>
					<br />
				</fieldset>
				<div class="form-group"></div>
			</form>
			<button class="btn btn-outline-info" onclick="handleNext()">
				criar
			</button>
		</div>
	</body>
</html>
