* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

#home {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: inline-block;
}

/*----------------------------INTRO------------------------------*/
.intro {
  background-color: #FFFFFF;
  height: 100%;
  width: calc(100% - 55%);
  box-shadow: 8px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

.intro img {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#leave {
  position: absolute;
  z-index: 10;
  bottom: 4%;
  left: 2%;
}

/*----------------------------FORM------------------------------*/
.clothing {
  position: relative;
  max-width: 55%;
  height: 100%;
  background-color: #0181D3;
  margin-left: calc(100% - 55%);
}

.clothing-request {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 85%;
}

input.middle:focus {
  outline-width: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.clothing-but{
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 10%;
}
.clothing-but a{
  cursor: pointer;
  padding: 0 15%;
}
.clothing-but button{
  cursor: pointer;
  background-color: transparent;
  border-style: none;
}
.clothing-but #back{
  cursor: default;
}
.clothing-but a:hover{
  opacity: 0.6;
}

/*----------------------------ID------------------------------*/
.clothing-container {
  padding: 10% 15%;
}

.clothing-container label {
  font-weight: 300;
  color: #0181D3;
}

.clothing-container h2 {
  font-size: 2em;
  color: #0181D3;
}
.clothing-line{
  display: flex;
  justify-content: space-between;
}
.clothing-field{
  display: block;
  margin-top: 15%;
  position: relative;
}
.clothing-field select{
  width: 100%;
  padding: 7.5px 0;
  border-style: none;
  border-bottom: 1px solid #0181D3;
  box-sizing: border-box;
  color: #014E82;
}
.clothing-field select[name="description"]{
  width: 160%;
}
.clothing-field select[name="quantity"]{
  width: 80%;
}

/*----------------------------QUERIES------------------------------*/
@media screen and (max-width: 940px) {
  .request {
    max-width: 100%;
    margin-left: 0;
  }
  .form-check {
    margin-top: 25%;
  }
  .intro {
    display: none;
  }
}
@media screen and (max-width: 600px) {}
